*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body, #root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(40, 39, 39);
  font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.note {
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}

.note-create-form{
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}